@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    padding: 0 26.6% 0 14.2%;

    background: #FFFFFF;
    border-bottom: 0.4px solid #324451;
}

.header-logo {
    top: 34px;
}

.header_logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 83.1%;
}

.header-menu__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    
    color: #111111;
    text-decoration: none;
}

.header-menu__link__active {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #FFC222;
}

.link-active__decoration {
    width: 69px;
    border: 1px solid #FFC222;
}

.structure {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.main {
    position: relative;
    display: flex;
    height: 500px;
    background-image: url(../Images/main.svg);
    justify-content: center;

}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 51px;
    padding: 101px 0 101px 0;
}

.main-title {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.main-title__top {
    height: 83px;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    text-align: center;

    color: #FFF;
}

.main-title__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 121.69%;
    text-align: center;
    color: #DDDDDD;
}

.main-btn {
    display: flex;
    width: 195px;
    height: 51px;
    justify-content: center;
}

.main-btn__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px 0 38px;
    font-style: normal;
    width: 195px;
    height: 51px;
    border: 1px solid #FFC222;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
    text-decoration: none;
}

.main-btn__link:hover {
    color: #111111;
    background: #FFC222;
}

.main-btn__link:hover .main-btn-img {
    content: url(../Images/btnArrowActive.svg);
}

.registration {
    display: flex;
    flex-direction: column;
    padding: 0 14.2% 0 14.2%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.registration-title {
    width: 100%;
    box-sizing: border-box;
    padding: 0 22% 64px 22%;
}

.registration-title-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-title-top__text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;

    color: #111111;
}

.title-top__decoration {
    width: 107px;
    height: 0px;
    border: 1px solid #FFC222;
}

.registration-title__description {
    margin-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: #858585;
}

.rates {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rate__1 {
    width: 378px;
    height: 335px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.rate__1:hover {
    background: #324451;
}

.rate-logo__item {
    margin-top: 40px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.rate-title__1 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #111111;
}

.rate__1:hover .rate-title__1 {
    color: #FFFFFF;
}

.rate-text__1 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 137.69%;
    text-align: center;

    color: #858585;
}

.rate__1:hover .rate-text__1 {
    color: #BBBBBB;
}

.rate-links__1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 65px 15.3% 0 15.3%;
}

.rate__link__1 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    
    color: #111111;
}

.rate__1:hover .rate__link__1 {
    color: #FFC222;
}

.rate-btn__1 {
    padding-left: 17px;
    margin-right: 0%;
    width: 91px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;

    background-color: #FFFFFF;
    border: 1px solid #FFC222;
    border-right: 0px;
    border-radius: 8px;
}

.rate-btn-decoration__1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 32px;
    background: #FFC93E;

    border-left: 1px solid #FFFFFF;
    border-radius: 8px;
}

.rate-btn-content__1 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #111111;
}

.rate-btn__1:hover {
    background-color: #FFC222;
}

.rate__2 {
    width: 378px;
    height: 335px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.rate__2:hover {
    background: #324451;
}

.rate-title__2 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #111111;
}

.rate__2:hover .rate-title__2 {
    color: #FFFFFF;
}

.rate-text__2 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 127.69%;
    text-align: center;

    color: #858585;
}

.rate__2:hover .rate-text__2 {
    color: #BBBBBB;
}

.rate-links__2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28.6px 15.3% 0 15.3%;
}

.rate__link__2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    
    color: #111111;
}

.rate__2:hover .rate__link__2 {
    color: #FFC222;
}

.rate-btn__2 {
    padding-left: 17px;
    margin-right: 0%;
    width: 91px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;

    background-color: #FFFFFF;
    border: 1px solid #FFC222;
    border-right: 0px;
    border-radius: 8px;
}

.rate-btn-decoration__2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 32px;
    background: #FFC93E;

    border-left: 1px solid #FFFFFF;
    border-radius: 8px;
}

.rate-btn-content__2 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #111111;
}

.rate-btn__2:hover {
    background-color: #FFC222;
}

.rate__3 {
    width: 378px;
    height: 335px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.rate__3:hover {
    background: #324451;
}

.rate-title__3 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    color: #111111;
}

.rate__3:hover .rate-title__3 {
    color: #FFFFFF;
}

.rate-text__3 {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 127.69%;
    text-align: center;

    color: #858585;
}

.rate__3:hover .rate-text__3 {
    color: #BBBBBB;
}

.rate-links__3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28.6px 15.3% 0 15.3%;
}

.rate__link__3 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    
    color: #111111;
}

.rate__3:hover .rate__link__3 {
    color: #FFC222;
}

.rate-btn__3 {
    padding-left: 17px;
    margin-right: 0%;
    width: 91px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;

    background-color: #FFFFFF;
    border: 1px solid #FFC222;
    border-right: 0px;
    border-radius: 8px;
}

.rate-btn-decoration__3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 32px;
    background: #FFC93E;

    border-left: 1px solid #FFFFFF;
    border-radius: 8px;
}

.rate-btn-content__3 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #111111;
}

.rate-btn__3:hover {
    background-color: #FFC222;
}

.rates-btn {
    margin-top: 120px;
    padding-left: 22px;
    width: 210px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;

    background-color: #FFFFFF;
    border: 1px solid #FFC222;
    border-right: 0px;
    border-radius: 8px;
}

.rates-btn-decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 45px;
    background: #FFC93E;

    border-left: 1px solid #FFFFFF;
    border-radius: 8px;
}

.rates-btn-content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #111111;
}

.rates-btn:hover {
    background-color: #FFC222;
}

.about {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 45px 14.2% 45px;
    padding-left: 14.2%;
    height: 292px;
    background-image: url(../Images/about.svg);
}

.about-title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
}

.about-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125.19%;
    margin-bottom: 6px;

    color: #FFFFFF;
}

.about-btn {
    text-decoration: none;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 209px;
    height: 40px;
    border: 1px solid #FFC222;
    border-right: 0px;
    border-radius: 8px;
}

.about-btn-content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    color: #FFFFFF;
}

.about-btn-decoration {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28.27px;
    height: 40px;
    background: #FFC222;
    border-radius: 8px;
}

.about-btn:hover {
    background: #FFC222;
}
.about-btn:hover .about-btn-decoration__img {
    content: url(../Images/btnArrowM.svg);
}

.about-btn:hover .about-btn-content {
    color: #111111;
}

.consultation {
    padding: 0 14.2% 0 14.2%;
}

.consultation-title-top {
    display: flex;
    justify-content: space-between;
    margin: 0 22.5% 0 22.5%;
    align-items: center;
}

.consultation-title-top__text {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: #111111;
}

.consultation-title__description {
    margin-top: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    text-align: center;

    color: #858585;
}

.consultation-form {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-left-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-title__item {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #858585;
}

.form-right-column {
    margin-left: 14.2%;
}

.form-text__input {
    width: 414px;
    height: 54px;
    padding: 2%;
    border: 0.5px solid #858585;
    border-radius: 8px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

    color: #858585;
}

.form__select {
    width: 414px;
    height: 54px;
    padding-left: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #858585;
    border: 0.5px solid #858585;
    border-radius: 8px;
    cursor: pointer;
}

.form-message-text__input {
    padding: 2%;
    margin-top: 12px;
    width: 688.89px;
    height: 268px;
    border: 0.5px solid #858585;
    border-radius: 8px;
    resize: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #858585;

}

.message-btn {
    margin-top: 56px;
    text-decoration: none;
    padding-left: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 245px;
    height: 54px;
    border: 1px solid #FFC222;
    border-right: 0px;
    border-radius: 8px;
}

.message-btn-content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    color: #111111;
}

.message-btn-decoration {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 29px;
    height: 54px;
    background: #FFC222;
    border-radius: 8px;
    border-left: #FFFFFF solid 1px;
}

.message-btn:hover {
    background: #FFC222;
}

.advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 332px;
    width: 100%;
    padding: 0 14.2% 0 14.2%;
    background-image: url(../Images/advantages.svg);
}

.advantages__text {
    margin-top: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}

.advantages__item {
    align-items: center;
    text-align: center;
}

.about-program {
    padding: 0 14.2% 0 14.2%;
}

.program-title {
    margin-left: 28.5%;
    width: 43.2%;
}

.program-title-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.program-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.program-read-more {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 21px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;

    color: #111111;
}

.program-title__description {
    margin-top: 32px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;

    color: #858585;
}

.program-bottom {
    display: flex;
    flex-direction: row;
    gap: 185px;
    margin-top: 64px;
}

.program-feedback {
    width: 567px;
    height: 390px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-left: 48px;
}

.program-feedback__title {
    margin-top: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;

    color: #111111;
}

.program-feedback__text {
    margin-top: 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;

    color: #111111;
}

.program-cards {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.cards__item {
    width: 287px;
    height: 390px;

    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.card__item__title {
    margin: 16px 0 0 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #111111;
}

.card__item__text {
    margin: 14px 0 0 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #858585;
}

.feedbacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 14.2% 0 14.2%;
}

.feedbacks__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;

    color: #111111;
}

.feedback-cards {
    width: 100%;
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.feedback__item {
    width: 362px;
    height: 345px;

    border: 0.5px solid #FFC222;
    border-radius: 8px;
}

.feedback__item__img {
    margin-top: 18px;
}

.feedback__name {
    margin-top: 14px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #111111;
}

.feedback__text {
    margin: 20px 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    color: #111111;
}

.feedbacks-btn {
    margin-top: 56px;
    text-decoration: none;
    padding-left: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 152px;
    height: 40px;
    border: 1px solid #FFC222;
    border-right: 0px;
    border-radius: 8px;
}

.feedbacks-btn-content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    color: #111111;
}

.feedbacks-btn-decoration {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 40px;
    background: #FFC222;
    border-radius: 8px;
    border-left: #FFFFFF solid 1px;
}

.feedbacks-btn:hover {
    background: #FFC222;
}

.footer {
    background: #1E303D;
    border-radius: 16px 16px 0px 0px;
    height: 472px;
    padding: 48px 14.2% 0 14.2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
}

.footer__text {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #DDDDDD;
}

.footer-btn {
    margin-top: 24px;
    text-decoration: none;
    padding-left: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 245px;
    height: 54px;
    border: 1px solid #FFC222;
    border-right: 0px;
    border-radius: 8px;
}

.footer-btn-content {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    color: #FFFFFF;
}

.footer-btn-decoration {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 29px;
    height: 54px;
    background: #FFC222;
    border-radius: 8px;
    border-left: #1E303D solid 1px;
}

.footer-btn:hover {
    background: #FFC222;
}

.footer-btn:hover .footer-btn-decoration__img {
    content: url(../Images/btnArrowM.svg);
}

.footer-btn:hover .footer-btn-content {
    color: #111111;
}

.footer-info-and-logo {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.footer-info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-info__item {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.footer-info__item__text {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;
}

.footer-info__item__text__mail {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: lowercase;
    
    color: #FFFFFF;
}

.footer__logo {
    margin-top: 24px;
    margin-left: 32px;
}